body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #DAEAF1;
  position: relative;
  padding-top: 100px;

}

p{
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #F2D1D1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #F2D1D1;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  right: 550px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.self-photo {
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 100%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;

}

.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
  border: 0;
  border-radius: 100%;
}

.drawing{
  width: 25%;
  float: right;
  margin-left: 30px;
  border: 0;
  border-radius: 100%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #C6DCE4;
  padding: 50px 0 20px;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me{
  text-align: center;
}

.middle-container{
  margin: 100px 0;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}
/*
CSS positioning Rules:-
1. Content is Everything(height of a block element is determined by the size of the content. whereas of inline element height as well as width is defined by the content.)
2. Order comes from Code(this means that which element or any content is written first in html will appear first for example if h1 tag is written before p tag then on the screen heading will be visible first then the paragraph.)
3. Clidren sit on Parents(this means to make the content visible to the viewer the content is placed on its parent tag example we write heading inside the a div tag then it can be seen that heading is visible upon the the div tag. here div was the parent tag where as heading being the child element.)
*/
/*
text align = centre would center every content which does not have specific width defined.
other way to make the content place in the centre is by giving it margin at left and right i.e margin: 0 auto 0 auto;
*/
/* always use rem over em px and %  while defining size but it is also good to use px while defining margin, padding etc.*/
